{% extends 'base.html' %}

{% block content %}
<div class="container min-h-screen">
    <header class="bg-base-100">
        <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
            <div class="flex flex-col items-start gap-4 xl:flex-row md:items-center md:justify-between">
                <div class="text-center">
                    <h1 class="text-2xl font-bold text-white sm:text-3xl">Collabs</h1>
    
                    <p class="mt-1.5 text-sm text-gray-500">
                        Gerez vos campagnes et collaborations, vous pouvez créez ou rejoindre depuis cette espace !
                    </p>
                </div>
    
                <div class="flex items-center gap-4">
                    <button
                        class="btn btn-primary"
                        type="button">
                        Campagnes crée
                    </button>
                    <button
                        class="btn btn-primary"
                        type="button">
                        Campagnes participées
                    </button>
                    <button
                        class="btn btn-primary"
                        type="button">
                        Demandes de participation
                    </button>
                    <button class="btn btn-primary" type="button">
                        Crée une campagne
                    </button>
                </div>
            </div>
        </div>
    </header>
</div>
{% endblock %}