{% extends 'base.html' %}
{% block content %}

<div class="hero bg-base-200 min-h-screen">
    <div class="hero-content flex-col lg:flex-row-reverse">
        <div class="text-center lg:text-left">
            <h1 class="text-5xl font-bold">Inscrivez-vous !</h1>
            <p class="py-6">
                Commencer votre recherche de collaborations dés maintenant !
            </p>
        </div>
        <div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl">
            <form method="post" class="card-body">
                {% for message in messages %}
                    <div class="alert alert-danger" role="alert">
                        <h5>{{ message }}</h5>
                    </div>
                {% endfor %}
                {% csrf_token %}

                {% for field in form %}
                    {% if field.name == 'role' %}
                        <div class="flex items-center mb-3">
                            {% for choice in field.field.choices %}
                            <input class="radio radio-primary ml-2" type="radio" name="{{ field.name }}" id="{{ choice.0 }}"
                                value="{{ choice.0 }}">
                            <label class="label" for="{{ choice.0 }}">
                                {{ choice.1 }}</label>
                            {% endfor %}
                        </div>
                    {% else %}
                    <div class="form-control mb-3">
                        {{ field }}
                        
                    </div>
                    {% endif %}
                {% endfor %}
                <div class="form-control mt-6">
                    <button type="submit" class="btn btn-primary">Inscription</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}