{% extends 'base.html' %}

{% block content %}

<div class=" min-h-screen bg-base-300 py-32">
    <div class="container mx-auto bg-base-200 p-3 box-border rounded-lg ">
        <div class="flex justify-center m-4">
            <input type="text" placeholder="Search" class="input input-bordered w-12 md:w-auto" />
        </div>
        <div class="flex justify-center">

        {% if profiles %}
        
            {% for profile in profiles %}
                <div class="card card-side bg-base-100 shadow-xl m-4 max-w-3xl">
                    <figure>
                        <img src="https://img.daisyui.com/images/stock/photo-1635805737707-575885ab0820.webp" alt="Movie" />
                    </figure>
                    <div class="card-body">
                        <h2 class="card-title">{{profile.user.username}}</h2>
                        <p>Click the button to watch on Jetflix app.</p>
                        <div class="card-actions justify-end">
                        </div>
                        <div class="card-actions justify-end">
                            <div class="badge badge-outline">Fashion</div>
                            <div class="badge badge-outline">Products</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
        {% endif %}     
        </div>
        <div class="flex justify-center m-5">
            <div class="join ">
                <input class="join-item btn btn-square" type="radio" name="options" aria-label="1" checked="checked" />
                <input class="join-item btn btn-square" type="radio" name="options" aria-label="2" />
                <input class="join-item btn btn-square" type="radio" name="options" aria-label="3" />
                <input class="join-item btn btn-square" type="radio" name="options" aria-label="4" />
            </div>
        </div>
    </div>
</div>

{% endblock %}