<div class="p-3"></div>
    <div class="max-w-80">
        <h2>Terms Of Service</h2>
        <p>Last Edit: 04/13/2022</p>
        <p>Greetings Users, </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat quibusdam earum illo atque minima iusto
            molestiae. Ex maiores dolorum voluptatem dignissimos pariatur. Labore consectetur consequuntur quae
            voluptates accusamus, dolorem maiores, iure a nemo repellat ducimus in dolores porro perspiciatis quaerat
            necessitatibus. Recusandae animi nihil minima soluta aliquam tenetur quas aut?</p>
        <p>Accusamus dignissimos id qui quos deleniti deserunt, expedita fuga commodi! Quo rerum inventore hic minima
            eum. Aperiam quia sapiente pariatur cupiditate! Eos a hic rem magnam dolorem, saepe repellendus nostrum
            incidunt dolorum repellat nemo modi beatae fugiat, distinctio dolor velit esse. Nisi tempore consequuntur
            fuga omnis aliquam earum? Voluptas, officia?</p>
        <p>Quidem, dolor consectetur. Optio tenetur odit est veritatis assumenda! Minima vel voluptas eaque iusto alias
            nulla quaerat labore dolore quibusdam iure officia voluptatem fugiat porro excepturi dolores odit illum
            voluptates eum, blanditiis nostrum, consectetur repudiandae sapiente debitis. In necessitatibus incidunt
            mollitia omnis aliquam, sint facilis, vel autem sit illo ex?</p>
        <p>Voluptates corrupti facilis adipisci veniam quaerat, fugiat qui blanditiis. Necessitatibus aut culpa autem
            possimus eveniet at ut sit mollitia ullam. Fugit temporibus accusantium, labore voluptatibus fuga magnam
            incidunt corrupti architecto nam, modi expedita porro laborum? Laborum delectus voluptas rem cumque
            repudiandae nesciunt et mollitia ducimus beatae consequatur. Illo, corrupti quaerat.</p>
        <p>Esse explicabo ab consectetur illum eveniet deleniti cum sapiente reiciendis? Provident et iste deleniti
            doloremque, saepe quibusdam ducimus odit alias minima voluptas error labore quod magni quae hic eos
            inventore beatae nam quam omnis odio nostrum a nemo neque! Qui minima saepe modi velit dicta itaque et vero
            eveniet error.</p>
        <p>Unde id, ratione reiciendis voluptatibus atque ea cumque beatae, veritatis officia nostrum sed ducimus enim
            voluptates provident nihil incidunt explicabo. Consectetur saepe accusantium adipisci. Quibusdam, quidem.
            Harum soluta sapiente iusto aspernatur eaque quam explicabo sit vel, consequatur accusantium quod repellat
            ullam beatae corrupti! Modi blanditiis sit odio, dolores architecto molestias.</p>
    </div>
    <h4>I agree to the <span>Terms of Service</span> and I read the Privacy Notice</h4>
</div>