{% extends "base.html" %}
{% load tailwind_filters %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}
<div class="container flex justify-center align-center min-h-screen min-w-full">
    <div class="bg-base-300 shadow card p-6 mb-24 mt-9">
        <div class="p-3 rounded mb-3 text-center bg-primary font-black text-xl">
            <h2 class="ml-2 ">Demande de participation</h2>
            <p>Suivez les étapes et envoyer votre demande pour participer à la campagne !</p>
        </div>
        <br>
        <p class="text-center">Étape {{ wizard.steps.step1 }} sur {{ wizard.steps.count }}</p>
        <form method="post" class="p-3">
            {% csrf_token %}
            <table>
                {{ wizard.management_form }}
                {% if wizard.form.forms %}
                {{ wizard.form.management_form }}
                {% for form in wizard.form.forms %}
                {{ form|crispy }}
                {% endfor %}
                {% else %}
                {% if wizard.steps.current == '1' %}
                {% include 'collaborations/partials/terms_of_service.html' %}
                {{ form|crispy }}
                {% else %}
                {{ wizard.form|crispy }}
                {% endif %}
                {% endif %}
            </table>
            {% if wizard.steps.current == wizard.steps.last %}
            <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}"
                class="btn btn-primary mt-3">Étape précédente</button>
            <button type="submit" class="btn btn-primary mt-3">Valider !</button>
            {% else %}
            {% if wizard.steps.prev %}
            <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}"
                class="btn btn-primary mt-3">Étape précédente</button>
            <button type="submit" class="btn btn-primary mt-3">Étape
                suivante</button>
            {% else %}
            <button type="submit" class="btn btn-primary mt-3">Étape
                suivante</button>
            {% endif %}
            {% endif %}
        </form>
    </div>
</div>

{% endblock %}
