{% extends "base.html" %}
{% load tailwind_filters %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}
<div class="container flex justify-center align-center min-h-screen min-w-full">
    <div class="bg-base-300 shadow card p-6 mb-24 mt-9">
        <div class="p-3 rounded mb-3 text-center bg-primary font-black text-xl">
            <h2 class="ml-2">Créer une campagne</h2>
            <p class="px-1">Suivez les étapes afin de créée votre campagne</p>
        </div>
        <br>
        <p class="text-center">Étape {{ wizard.steps.step1 }} sur {{ wizard.steps.count }}</p>
        <br>
        <form method="post" class="p-3">
            {% csrf_token %}
            {% if wizard.steps.current == '0' %}
            {% else %}
            {% endif %}
            <ul class="steps steps-vertical lg:steps-horizontal mb-6">
                <li class="step step-primary">Register</li>
                {% if wizard.steps.current >= '1' %}
                <li class="step step-primary">Choose plan</li>
                {% else %}
                <li class="step">Choose plan</li>
                {% endif %}
                {% if wizard.steps.current >= '2' %}
                <li class="step step-primary">Purchase</li>
                {% else %}
                <li class="step">Purchase</li>
                {% endif %}
                {% if wizard.steps.current >= '3' %}
                <li class="step step-primary">Receive Product</li>
                {% else %}
                <li class="step">Receive Product</li>
                {% endif %}
            </ul>
            <table>
                {{ wizard.management_form }}
                {% if wizard.form.forms %}
                {{ wizard.form.management_form }}
                {% for form in wizard.form.forms %}
                {{ form|crispy }}
                {% endfor %}
                {% else %}
                {% if wizard.steps.current == '3' %}
                
                {{ form|crispy }}
                {% else %}
                {{ wizard.form|crispy }}
                {% endif %}
                {% endif %}
            </table>
            <div class="flex justify-around">
                {% if wizard.steps.current == wizard.steps.last %}
                <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}"
                    class="btn btn-primary">Étape précédente</button>
                <button type="submit" class="btn btn-primary">Valider
                    !</button>
                {% else %}
                {% if wizard.steps.prev %}
                <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}"
                    class="btn btn-primary mt-6">Étape précédente</button>
                <button type="submit" class="btn btn-primary mt-6">Étape
                    suivante</button>
                {% else %}
                <button type="submit" class="btn btn-primary mt-6">Étape
                    suivante</button>
                {% endif %}
                {% endif %}
            </div>
        </form>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    
</script>
{% endblock %}