{% load static %}

<footer class="footer bg-base-200 text-base-content p-10">
    <aside>
        <a class=""><img src="{% static '/images/logo-opt.png' %}" alt="" class="max-w-32 text-primary"></a>
    </aside>
    <nav>
        <h6 class="footer-title">A propos</h6>
        <a class="link link-hover">Qui sommes nous ?</a>
        <a class="link link-hover">Conditions d'utilisation</a>
        <a class="link link-hover">informations legales</a>
        <a class="link link-hover">Politique de confidentialité</a>
        <a class="link link-hover">Contact</a>
    </nav>
    <nav>
        <h6 class="footer-title">Menu</h6>
        <a class="link link-hover">Createurs</a>
        <a class="link link-hover">Annonceurs</a>
        <a class="link link-hover">Associations</a>
        <a class="link link-hover">Connexion</a>
    </nav>
</footer>