{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en" data-theme="forest">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% tailwind_css %}
    <link rel="icon" href="{% static '/images/title-logo.png' %}" type="image/x-icon" />
    <title>Opt.</title>

</head>

<body>
    <div class="navbar bg-base-100">
        <div class="navbar-start">
            <a class="btn text-xl"><img src="{% static './images/logo-opt.png' %}" alt="" class="max-w-24"></a>
        </div>
        <div class="navbar-center hidden lg:flex">
            <ul class="menu menu-horizontal">
                <li class="mr-3"><a>Createur</a></li>
                <li class="mr-3"><a>Annonceurs</a></li>
                <li class="mr-3"><a>Asoociations</a></li>
            </ul>
        </div>
        <div class="navbar-end">
            <a class="btn btn-primary btn-outline mr-4">Connexion</a>
            <a class="btn btn-primary mr-3">Inscription</a>
        </div>
    </div>
    <div>
        {% block content %}
        {% endblock %}
    </div>
    <footer class="footer bg-base-200 text-base-content p-10">
        <aside>
            <a class=""><img src="{% static '/images/logo-opt.png' %}" alt="" class="max-w-24 text-primary"></a>
        </aside>
        <nav>
            <h6 class="footer-title">A propos</h6>
            <a class="link link-hover">Qui sommes nous ?</a>
            <a class="link link-hover">Conditions d'utilisation</a>
            <a class="link link-hover">informations legales</a>
            <a class="link link-hover">Politique de confidentialité</a>
            <a class="link link-hover">Contact</a>
        </nav>
        <nav>
            <h6 class="footer-title">Menu</h6>
            <a class="link link-hover">Createurs</a>
            <a class="link link-hover">Annonceurs</a>
            <a class="link link-hover">Associations</a>
            <a class="link link-hover">Connexion</a>
        </nav>
    </footer>
</body>

</html>