{% extends 'base.html' %}

{% block content %}
<div class="hero min-h-screen"
    style="background-image: url(https://images.unsplash.com/photo-1725615357444-6123528686cf?q=80&w=2669&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
    <div class="hero-overlay bg-opacity-60"></div>
    <div class="hero-content text-neutral-content text-center">
        <div class="max-wd-lg">
            <h1 class="mb-5 text-6xl font-bold">Connectez votre creativité</h1>
            <p class="mb-5 text-2xl ">
                Découvrez la première plateforme de collaborations impactantes,
                où les créateurs de contenu, les annonceurs et les associations se réunissent
                pour une cause commune !
            </p>
            
        </div>
    </div>
</div>
<div class="hero min-h-screen bg-accent text-base-200 text-4xl">
    <div class="hero-content text-center">
        <div class="max-w-6xl">
            <p class="mb-20">
                Explorez nos fonctionnalités intuitives,<br>
                connectez-vous avec des esprits similaires<br>
                et débloquez des opportunités inégalées<br>
                pour étendre votre portée.
            </p>
            <p>Faire passer votre message plus loin <br>
                et créer un impact réel.</p>
        </div>
    </div>
</div>
<div class="hero min-h-screen bg-neutral-content text-base-200 text-4xl">
    <div class="hero-content text-center">
        <div class="max-w-6xl">
            <p class="mb-20">
                Explorez nos fonctionnalités intuitives,<br>
                connectez-vous avec des esprits similaires<br>
                et débloquez des opportunités inégalées<br>
                pour étendre votre portée.
            </p>
            <p>Faire passer votre message plus loin <br>
                et créer un impact réel.</p>
        </div>
    </div>
</div>
<div class="hero min-h-screen bg-accent text-base-200 text-4xl">
    <div class="hero-content text-center">
        <div class="max-w-6xl">
            <p class="mb-20">
                Explorez nos fonctionnalités intuitives,<br>
                connectez-vous avec des esprits similaires<br>
                et débloquez des opportunités inégalées<br>
                pour étendre votre portée.
            </p>
            <p>Faire passer votre message plus loin <br>
            et créer un impact réel.</p>
        </div>
    </div>
</div>
<div class="hero bg-base-content min-h-screen">
    <div class="hero-content flex-col lg:flex-row text-base-200">
        <img src="https://images.unsplash.com/photo-1544027993-37dbfe43562a?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            class="max-w-lg rounded-lg shadow-2xl" />
        <div class="ml-5">
            <p class="py-6">
                Avec OPT, chaque collaboration est une opportunité de changer le monde.<br>
                Prêt à faire partie de quelque chose de plus grand ?<br>
                Rejoignez-nous dès aujourd'hui et découvrez comment ensemble,<br>
                nous pouvons transformer des idées en actions et inspirer le changement.
            </p>
            <button class="btn btn-primary">inscription</button>
        </div>
    </div>
</div>
<div class="hero bg-base-200 min-h-screen bg-secondary">
    <div class="hero-content text-center">
        <div class="max-w-lg">
            <h1 class="text-5xl font-bold">Contactez-nous</h1>
            <button class="btn btn-base mt-5">contact-opt@protonmail.com</button>
        </div>
    </div>
</div>
{% endblock %}